In [125]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import pandas as pd

path="c:\python_temp\chromedriver.exe"
driver=webdriver.Chrome(path)
driver.get("https://finance.daum.net/")
driver.maximize_window()

In [286]:
html=driver.page_source
soup=bs(html,'html.parser')
ranks=soup.find_all('div',class_="halfB")
def section_tap():
    kotitle=[]
    konum=[1,2,3,4,5]
    kosection=[]
    koupdown=[]
    koname=[]
    for i in ranks[1:3]:
        kotitle.append(i.select('h4')[0].text)
        section=(i.select('a'))[1::2]
        for j in section:
            kosection.append(j.text)
        name=(i.select('a'))[2::2]
        for k in name:
            koname.append(k.text.replace('\n',"").replace(" ","").replace("▲",""))
        updown=(i.select('span'))
        for l in updown:
            koupdown.append(l.text)
    print(kotitle)
    print(kosection)
    print(koname)
    print(koupdown)
    
    list=[]
    for i in range(10):
        list.append([kosection[i],koname[i],koupdown[i]])
    kospi=pd.DataFrame(list[0:5], columns=['업종','종목','등락'], index=konum)
    kosdak=pd.DataFrame(list[5:], columns=['업종','종목','등락'], index=konum)
    print()
    print(kotitle[0])
    print(kospi)
    print()
    print(kotitle[1])
    print(kosdak)
def rank():
    section_rank={'업종코스피':kospi,'업종코스닥':kosdak}
    what=input("")
    return section_rank[what] 
section_tap()

rank()

['업종 상위 - 코스피', '업종 상위 - 코스닥']
['섬유의복', '통신업', '보험', '비금속광물', '전기가스업', '디지털컨텐츠', '오락·문화', 'IT S/W & 서비스', 'IT 지수', '건설']
['신원', 'SK텔레콤', '현대해상', '유니온머티리얼', '서울가스', '위메이드', '덱스터', '위메이드', '위메이드', 'EG']
['+0.46%', '+0.18%', '-0.38%', '-0.65%', '-0.89%', '+2.07%', '+1.83%', '+0.18%', '-1.26%', '-1.35%']

업종 상위 - 코스피
      업종       종목      등락
1   섬유의복       신원  +0.46%
2    통신업    SK텔레콤  +0.18%
3     보험     현대해상  -0.38%
4  비금속광물  유니온머티리얼  -0.65%
5  전기가스업     서울가스  -0.89%

업종 상위 - 코스닥
             업종    종목      등락
1        디지털컨텐츠  위메이드  +2.07%
2         오락·문화   덱스터  +1.83%
3  IT S/W & 서비스  위메이드  +0.18%
4         IT 지수  위메이드  -1.26%
5            건설    EG  -1.35%
업종코스피

      업종       종목      등락
1   섬유의복       신원  +0.46%
2    통신업    SK텔레콤  +0.18%
3     보험     현대해상  -0.38%
4  비금속광물  유니온머티리얼  -0.65%
5  전기가스업     서울가스  -0.89%

In [154]:
print(kotitle[0])
kospi

업종 상위 - 코스피

      업종       종목      등락
1   섬유의복       신원  +0.46%
2    통신업    SK텔레콤  +0.18%
3     보험     현대해상  -0.38%
4  비금속광물  유니온머티리얼  -0.65%
5  전기가스업     서울가스  -0.89%

In [155]:
print(kotitle[1])
kosdak

업종 상위 - 코스닥

             업종    종목      등락
1        디지털컨텐츠  위메이드  +2.07%
2         오락·문화   덱스터  +1.83%
3  IT S/W & 서비스  위메이드  +0.18%
4         IT 지수  위메이드  -1.26%
5            건설    EG  -1.35%

In [274]:
html=driver.page_source
soup=bs(html,'html.parser')
ranks=soup.find_all('div',class_="halfB")
def market_trand():
    kos=['코스피','코스닥']
    num=[1,2,3,4,5]
    for i in ranks[3:]:
        if i in ranks[7:11]:
            m_name=[]
            m_price=[]
            m_amount=[]
            m_updown=[]
            name=(i.select_one('ul').select('a'))
            updown=(i.select_one('ul').select('span')[1::2])
            amount=(i.select_one('ul').select('span')[0::2])
            price=(i.select_one('ul').select('p'))
            for a in name:
                m_name.append(a.text)
            for s in updown:
                m_updown.append(s.text)
            for d in amount:
                m_amount.append(d.text+',000')
            for f in price:
                m_price.append(f.text+',000,000원')
            list=[]
            for i in range(5):
                list.append([m_name[i],m_updown[i],m_amount[i],m_price[i]])
            print(m_name)
            print(m_updown)
            print(m_amount)
            print(m_price)
            print()
            chart=pd.DataFrame(list,columns=['종목','등락률','총 거래량','총 거래액'],index=num)
            print(chart)
            print('*'*80)
        else:
            m_name=[]
            m_price=[]
            m_udprice=[]
            m_updown=[]
            m_amount=[]
            item=(i.select('ul')[0].select('a'))
            price=(i.select('ul')[0].select('p')[0::2])
            amount=(i.select('ul')[0].select('p')[1::2])
            udprice=(i.select('ul')[0].select('span')[0::2])
            updown=(i.select('ul')[0].select('span')[1::2])
            for j in item:
                m_name.append(j.text)
            for k in price:
                m_price.append(k.text)
            for l in amount:
                m_amount.append(l.text)
            for q in udprice:
                m_udprice.append(q.text)
            for w in updown:
                m_updown.append(w.text)

            print(m_name)
            print(m_price)
            print(m_amount)
            print(m_udprice)
            print(m_updown)
            list=[]
            for i in range(5):
                list.append([m_name[i],m_price[i],m_udprice[i],m_updown[i],m_amount[i]])
            chart=pd.DataFrame(list,num,['종목','가격','등락가격','등락률','거래량'])
            print()
            print(chart)
            print('*'*80)

['선도전기', '신한 레버리지 천연가스 선물 ETN', '삼성 레버리지 천연가스 선물 ETN B', 'TRUE 레버리지 천연가스 선물 ETN(H)', '신원']
['5,660', '17,950', '32,305', '16,695', '3,500']
['48,474,744', '390,743', '68,139', '167,098', '59,017,294']
['▲1,190', '▲2,195', '▲3,875', '▲2,000', '▲335']
['+26.62%', '+13.93%', '+13.63%', '+13.61%', '+10.58%']

                         종목      가격    등락가격      등락률         거래량
1                      선도전기   5,660  ▲1,190  +26.62%  48,474,744
2       신한 레버리지 천연가스 선물 ETN  17,950  ▲2,195  +13.93%     390,743
3     삼성 레버리지 천연가스 선물 ETN B  32,305  ▲3,875  +13.63%      68,139
4  TRUE 레버리지 천연가스 선물 ETN(H)  16,695  ▲2,000  +13.61%     167,098
5                        신원   3,500    ▲335  +10.58%  59,017,294
********************************************************************************
['바른손', '엔피', '에코캡', 'CBI', '덱스터']
['3,925', '7,850', '9,640', '3,375', '16,300']
['41,315,468', '2,961,426', '17,166,047', '3,264,811', '31,183,205']
['↑905', '↑1,810', '▲2,210', '▲570', '▲2,600']
['+29.97%', '+29.97%', '+29.74%', '+20.32%', '+18.98%']

    종목      가격    등락가격      등락률         거래량
1  바른손   3,925    ↑905  +29.97%  41,315,468
2   엔피   7,850  ↑1,810  +29.97%   2,961,426
3  에코캡   9,640  ▲2,210  +29.74%  17,166,047
4  CBI   3,375    ▲570  +20.32%   3,264,811
5  덱스터  16,300  ▲2,600  +18.98%  31,183,205
********************************************************************************
['세우글로벌', '대원화성', 'DSR', 'TRUE 인버스 2X 천연가스 선물 ETN(H)', '신한 인버스 2X 천연가스 선물 ETN']
['3,460', '4,880', '9,310', '3,795', '1,865']
['12,955,114', '37,443,432', '902,010', '352,572', '1,447,394']
['▼1,440', '▼850', '▼1,540', '▼600', '▼290']
['-29.39%', '-14.83%', '-14.19%', '-13.65%', '-13.46%']

                           종목     가격    등락가격      등락률         거래량
1                       세우글로벌  3,460  ▼1,440  -29.39%  12,955,114
2                        대원화성  4,880    ▼850  -14.83%  37,443,432
3                         DSR  9,310  ▼1,540  -14.19%     902,010
4  TRUE 인버스 2X 천연가스 선물 ETN(H)  3,795    ▼600  -13.65%     352,572
5       신한 인버스 2X 천연가스 선물 ETN  1,865    ▼290  -13.46%   1,447,394
********************************************************************************
['이엠네트웍스', '코너스톤네트웍스', '에이아이비트', '체리부로', '한국비엔씨']
['486', '16', '67', '1,430', '41,000']
['2,216,612', '55,517,004', '6,105,473', '1,454,665', '11,901,635']
['▼248', '▼6', '▼23', '▼285', '▼7,850']
['-33.79%', '-27.27%', '-25.56%', '-16.62%', '-16.07%']

         종목      가격    등락가격      등락률         거래량
1    이엠네트웍스     486    ▼248  -33.79%   2,216,612
2  코너스톤네트웍스      16      ▼6  -27.27%  55,517,004
3    에이아이비트      67     ▼23  -25.56%   6,105,473
4      체리부로   1,430    ▼285  -16.62%   1,454,665
5     한국비엔씨  41,000  ▼7,850  -16.07%  11,901,635
********************************************************************************
['HMM', 'SK텔레콤', 'SK이노베이션', 'KB금융', 'LG전자']
['-5.64%', '+0.93%', '-0.57%', '-0.18%', '-1.57%']
['1,554,000', '63,000', '78,000', '362,000', '140,000']
['50,471,000,000원', '20,441,000,000원', '20,332,000,000원', '19,958,000,000원', '17,564,000,000원']

        종목     등락률      총 거래량            총 거래액
1      HMM  -5.64%  1,554,000  50,471,000,000원
2    SK텔레콤  +0.93%     63,000  20,441,000,000원
3  SK이노베이션  -0.57%     78,000  20,332,000,000원
4     KB금융  -0.18%    362,000  19,958,000,000원
5     LG전자  -1.57%    140,000  17,564,000,000원
********************************************************************************
['아난티', '엘앤에프', '에이치엘비', '위메이드', '카카오게임즈']
['+6.42%', '+1.90%', '-1.77%', '+16.86%', '-1.37%']
['1,042,000', '54,000', '154,000', '99,000', '113,000']
['14,496,000,000원', '9,887,000,000원', '8,535,000,000원', '8,056,000,000원', '7,326,000,000원']

       종목      등락률      총 거래량            총 거래액
1     아난티   +6.42%  1,042,000  14,496,000,000원
2    엘앤에프   +1.90%     54,000   9,887,000,000원
3   에이치엘비   -1.77%    154,000   8,535,000,000원
4    위메이드  +16.86%     99,000   8,056,000,000원
5  카카오게임즈   -1.37%    113,000   7,326,000,000원
********************************************************************************
['KODEX 200선물인버스2X', 'LG화학', '포스코케미칼', 'KODEX 코스닥150선물인버스', 'SK케미칼']
['+3.68%', '-0.77%', '+0.85%', '+2.22%', '+3.52%']
['21,130,000', '28,000', '106,000', '4,316,000', '55,000']
['47,679,000,000원', '21,905,000,000원', '19,090,000,000원', '18,780,000,000원', '16,241,000,000원']

                  종목     등락률       총 거래량            총 거래액
1   KODEX 200선물인버스2X  +3.68%  21,130,000  47,679,000,000원
2               LG화학  -0.77%      28,000  21,905,000,000원
3             포스코케미칼  +0.85%     106,000  19,090,000,000원
4  KODEX 코스닥150선물인버스  +2.22%   4,316,000  18,780,000,000원
5              SK케미칼  +3.52%      55,000  16,241,000,000원
********************************************************************************
['펄어비스', '에스엠', '엘앤에프', '스튜디오드래곤', '천보']
['+6.09%', '+2.60%', '+1.90%', '+2.48%', '-2.09%']
['281,000', '327,000', '59,000', '71,000', '19,000']
['24,042,000,000원', '23,138,000,000원', '10,770,000,000원', '6,456,000,000원', '4,954,000,000원']

        종목     등락률    총 거래량            총 거래액
1     펄어비스  +6.09%  281,000  24,042,000,000원
2      에스엠  +2.60%  327,000  23,138,000,000원
3     엘앤에프  +1.90%   59,000  10,770,000,000원
4  스튜디오드래곤  +2.48%   71,000   6,456,000,000원
5       천보  -2.09%   19,000   4,954,000,000원
********************************************************************************
['KODEX 200선물인버스2X', '신원', '대유에이텍', '선도전기', 'KODEX 인버스']
['2,255', '3,500', '1,625', '5,660', '4,080']
['202,728,983', '59,017,294', '50,099,535', '48,474,744', '45,466,633']
['▲80', '▲335', '▼145', '▲1,190', '▲80']
['+3.68%', '+10.58%', '-8.19%', '+26.62%', '+2.00%']

                 종목     가격    등락가격      등락률          거래량
1  KODEX 200선물인버스2X  2,255     ▲80   +3.68%  202,728,983
2                신원  3,500    ▲335  +10.58%   59,017,294
3             대유에이텍  1,625    ▼145   -8.19%   50,099,535
4              선도전기  5,660  ▲1,190  +26.62%   48,474,744
5         KODEX 인버스  4,080     ▲80   +2.00%   45,466,633
********************************************************************************
['바른손이앤에이', '코너스톤네트웍스', '쇼박스', '지에스이', '시스웍']
['1,610', '16', '5,800', '2,880', '2,010']
['65,740,641', '55,517,004', '50,572,196', '41,725,736', '41,471,640']
['▲195', '▼6', '▼100', '▲5', '▲195']
['+13.78%', '-27.27%', '-1.69%', '+0.17%', '+10.74%']

         종목     가격  등락가격      등락률         거래량
1   바른손이앤에이  1,610  ▲195  +13.78%  65,740,641
2  코너스톤네트웍스     16    ▼6  -27.27%  55,517,004
3       쇼박스  5,800  ▼100   -1.69%  50,572,196
4      지에스이  2,880    ▲5   +0.17%  41,725,736
5       시스웍  2,010  ▲195  +10.74%  41,471,640
********************************************************************************
['삼성전자', 'SK하이닉스', 'NAVER', '삼성바이오로직스', '삼성전자우']
['73,200', '100,000', '382,000', '875,000', '68,000']
['4,369,881', '728,002', '627,486', '578,944', '559,563']
['▼900', '▼3,000', '▼6,000', '▲1,000', '▼1,600']
['-1.21%', '-2.91%', '-1.55%', '+0.11%', '-2.30%']

         종목       가격    등락가격     등락률        거래량
1      삼성전자   73,200    ▼900  -1.21%  4,369,881
2    SK하이닉스  100,000  ▼3,000  -2.91%    728,002
3     NAVER  382,000  ▼6,000  -1.55%    627,486
4  삼성바이오로직스  875,000  ▲1,000  +0.11%    578,944
5     삼성전자우   68,000  ▼1,600  -2.30%    559,563
********************************************************************************
['셀트리온헬스케어', '에코프로비엠', '엘앤에프', '에이치엘비', '펄어비스']
['103,600', '451,000', '182,400', '55,500', '85,300']
['160,600', '98,857', '63,072', '59,169', '56,487']
['▼5,800', '▼16,000', '▲3,400', '▼1,000', '▲4,900']
['-5.30%', '-3.43%', '+1.90%', '-1.77%', '+6.09%']

         종목       가격     등락가격     등락률      거래량
1  셀트리온헬스케어  103,600   ▼5,800  -5.30%  160,600
2    에코프로비엠  451,000  ▼16,000  -3.43%   98,857
3      엘앤에프  182,400   ▲3,400  +1.90%   63,072
4     에이치엘비   55,500   ▼1,000  -1.77%   59,169
5      펄어비스   85,300   ▲4,900  +6.09%   56,487
********************************************************************************

In [270]:
for i in ranks[3:]:html=driver.page_source
soup=bs(html,'html.parser')
ranks=soup.find_all('div',class_="halfB")
kos=['코스피','코스닥']
num=[1,2,3,4,5]

for i in (ranks[3:]):
    if i in ranks[7:11]:
        m_name=[]
        m_price=[]
        m_amount=[]
        m_updown=[]
        name=(i.select_one('ul').select('a'))
        updown=(i.select_one('ul').select('span')[1::2])
        amount=(i.select_one('ul').select('span')[0::2])
        price=(i.select_one('ul').select('p'))
        for a in name:
            m_name.append(a.text)
        for s in updown:
            m_updown.append(s.text)
        for d in amount:
            m_amount.append(d.text+',000')
        for f in price:
            m_price.append(f.text+',000,000원')
        list=[]
        for i in range(5):
            list.append([m_name[i],m_updown[i],m_amount[i],m_price[i]])
    
        
        print(m_name)
        print(m_updown)
        print(m_amount)
        print(m_price)
        print(list)
        print()
        chart=pd.DataFrame(list,columns=['종목','등락률','총 거래량','총 거래액'],index=num)
        print(chart)

['HMM', 'SK텔레콤', 'SK이노베이션', 'KB금융', 'LG전자']
['-5.64%', '+0.93%', '-0.57%', '-0.18%', '-1.57%']
['1,554,000', '63,000', '78,000', '362,000', '140,000']
['50,471,000,000원', '20,441,000,000원', '20,332,000,000원', '19,958,000,000원', '17,564,000,000원']
[['HMM', '-5.64%', '1,554,000', '50,471,000,000원'], ['SK텔레콤', '+0.93%', '63,000', '20,441,000,000원'], ['SK이노베이션', '-0.57%', '78,000', '20,332,000,000원'], ['KB금융', '-0.18%', '362,000', '19,958,000,000원'], ['LG전자', '-1.57%', '140,000', '17,564,000,000원']]

        종목     등락률      총 거래량            총 거래액
1      HMM  -5.64%  1,554,000  50,471,000,000원
2    SK텔레콤  +0.93%     63,000  20,441,000,000원
3  SK이노베이션  -0.57%     78,000  20,332,000,000원
4     KB금융  -0.18%    362,000  19,958,000,000원
5     LG전자  -1.57%    140,000  17,564,000,000원
['아난티', '엘앤에프', '에이치엘비', '위메이드', '카카오게임즈']
['+6.42%', '+1.90%', '-1.77%', '+16.86%', '-1.37%']
['1,042,000', '54,000', '154,000', '99,000', '113,000']
['14,496,000,000원', '9,887,000,000원', '8,535,000,000원', '8,056,000,000원', '7,326,000,000원']
[['아난티', '+6.42%', '1,042,000', '14,496,000,000원'], ['엘앤에프', '+1.90%', '54,000', '9,887,000,000원'], ['에이치엘비', '-1.77%', '154,000', '8,535,000,000원'], ['위메이드', '+16.86%', '99,000', '8,056,000,000원'], ['카카오게임즈', '-1.37%', '113,000', '7,326,000,000원']]

       종목      등락률      총 거래량            총 거래액
1     아난티   +6.42%  1,042,000  14,496,000,000원
2    엘앤에프   +1.90%     54,000   9,887,000,000원
3   에이치엘비   -1.77%    154,000   8,535,000,000원
4    위메이드  +16.86%     99,000   8,056,000,000원
5  카카오게임즈   -1.37%    113,000   7,326,000,000원
['KODEX 200선물인버스2X', 'LG화학', '포스코케미칼', 'KODEX 코스닥150선물인버스', 'SK케미칼']
['+3.68%', '-0.77%', '+0.85%', '+2.22%', '+3.52%']
['21,130,000', '28,000', '106,000', '4,316,000', '55,000']
['47,679,000,000원', '21,905,000,000원', '19,090,000,000원', '18,780,000,000원', '16,241,000,000원']
[['KODEX 200선물인버스2X', '+3.68%', '21,130,000', '47,679,000,000원'], ['LG화학', '-0.77%', '28,000', '21,905,000,000원'], ['포스코케미칼', '+0.85%', '106,000', '19,090,000,000원'], ['KODEX 코스닥150선물인버스', '+2.22%', '4,316,000', '18,780,000,000원'], ['SK케미칼', '+3.52%', '55,000', '16,241,000,000원']]

                  종목     등락률       총 거래량            총 거래액
1   KODEX 200선물인버스2X  +3.68%  21,130,000  47,679,000,000원
2               LG화학  -0.77%      28,000  21,905,000,000원
3             포스코케미칼  +0.85%     106,000  19,090,000,000원
4  KODEX 코스닥150선물인버스  +2.22%   4,316,000  18,780,000,000원
5              SK케미칼  +3.52%      55,000  16,241,000,000원
['펄어비스', '에스엠', '엘앤에프', '스튜디오드래곤', '천보']
['+6.09%', '+2.60%', '+1.90%', '+2.48%', '-2.09%']
['281,000', '327,000', '59,000', '71,000', '19,000']
['24,042,000,000원', '23,138,000,000원', '10,770,000,000원', '6,456,000,000원', '4,954,000,000원']
[['펄어비스', '+6.09%', '281,000', '24,042,000,000원'], ['에스엠', '+2.60%', '327,000', '23,138,000,000원'], ['엘앤에프', '+1.90%', '59,000', '10,770,000,000원'], ['스튜디오드래곤', '+2.48%', '71,000', '6,456,000,000원'], ['천보', '-2.09%', '19,000', '4,954,000,000원']]

        종목     등락률    총 거래량            총 거래액
1     펄어비스  +6.09%  281,000  24,042,000,000원
2      에스엠  +2.60%  327,000  23,138,000,000원
3     엘앤에프  +1.90%   59,000  10,770,000,000원
4  스튜디오드래곤  +2.48%   71,000   6,456,000,000원
5       천보  -2.09%   19,000   4,954,000,000원

In [291]:
def dt():
    soup=bs(html,'html.parser')
    ranks=soup.find_all('div',class_="halfB")
    kos=['코스피','코스닥']
    num=[1,2,3,4,5]

    for i in (ranks[3:]):
        if i in ranks[7:11]:
            m_name=[]
            m_price=[]
            m_amount=[]
            m_updown=[]
            name=(i.select_one('ul').select('a'))
            updown=(i.select_one('ul').select('span')[1::2])
            amount=(i.select_one('ul').select('span')[0::2])
            price=(i.select_one('ul').select('p'))
            for a in name:
                m_name.append(a.text)
            for s in updown:
                m_updown.append(s.text)
            for d in amount:
                m_amount.append(d.text+',000')
            for f in price:
                m_price.append(f.text+',000,000원')
            list=[]
            for i in range(5):
                list.append([m_name[i],m_updown[i],m_amount[i],m_price[i]])


            print(m_name)
            print(m_updown)
            print(m_amount)
            print(m_price)
            print(list)
            print()
            chart=pd.DataFrame(list,columns=['종목','등락률','총 거래량','총 거래액'],index=num)
            print(chart)
            return chart

dt()

['HMM', 'SK텔레콤', 'SK이노베이션', 'KB금융', 'LG전자']
['-5.64%', '+0.93%', '-0.57%', '-0.18%', '-1.57%']
['1,554,000', '63,000', '78,000', '362,000', '140,000']
['50,471,000,000원', '20,441,000,000원', '20,332,000,000원', '19,958,000,000원', '17,564,000,000원']
[['HMM', '-5.64%', '1,554,000', '50,471,000,000원'], ['SK텔레콤', '+0.93%', '63,000', '20,441,000,000원'], ['SK이노베이션', '-0.57%', '78,000', '20,332,000,000원'], ['KB금융', '-0.18%', '362,000', '19,958,000,000원'], ['LG전자', '-1.57%', '140,000', '17,564,000,000원']]

        종목     등락률      총 거래량            총 거래액
1      HMM  -5.64%  1,554,000  50,471,000,000원
2    SK텔레콤  +0.93%     63,000  20,441,000,000원
3  SK이노베이션  -0.57%     78,000  20,332,000,000원
4     KB금융  -0.18%    362,000  19,958,000,000원
5     LG전자  -1.57%    140,000  17,564,000,000원

        종목     등락률      총 거래량            총 거래액
1      HMM  -5.64%  1,554,000  50,471,000,000원
2    SK텔레콤  +0.93%     63,000  20,441,000,000원
3  SK이노베이션  -0.57%     78,000  20,332,000,000원
4     KB금융  -0.18%    362,000  19,958,000,000원
5     LG전자  -1.57%    140,000  17,564,000,000원